html{
    font-size: 10px;
}

html , body{
    height: 100vh;
    overflow: hidden;
}

body{
    font-size: 1.6rem;
    overflow-y: auto;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
    color: $defaultColor;
}